<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Task</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <style>
    body {
      background-color: #f8f9fa;
    }
    .container {
      margin-top: 50px;
    }
    h1 {
      font-size: 36px;
      margin-bottom: 30px;
      color: #343a40;
      text-align: center;
    }
    label {
      font-size: 18px;
      color: #343a40;
    }
    select.form-control {
      height: 50px;
    }
    button.btn-dark {
      width: 100%;
      height: 50px;
      font-size: 20px;
    }
    button.btn-dark:hover {
      background-color: #343a40;
    }
  </style>
</head>
<body>
  <div class="container">
    <form action="/addtask" class="w-75 m-auto" method="POST">
      <h1>Add Task</h1>
      <div class="mb-3">
        <label for="taskname" class="form-label">Task Name</label>
        <input type="text" class="form-control" id="taskname" name="taskname" placeholder="Enter Task Name">
      </div>
      <div class="mb-3">
        <label for="type" class="form-label">Task Type:</label>
        <select class="form-select" id="type" name="type">
          <option value="pending">Pending</option>
          <option value="done">Done</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="user" class="form-label">Select User</label>
        <select class="form-select" id="user" name="user">
          <% users.forEach(function(user) { %>
            <option value="<%= user._id %>"><%= user.name %></option>
          <% }) %>
        </select>
      </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-dark btn-lg">Add Task</button>
      </div>
    </form>
  </div>
</body>
</html>
